<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959908824104-8ilsnj6ht3bkp5s9433ut0ul0f6g6mc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959908824104-8ilsnj6ht3bkp5s9433ut0ul0f6g6mc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAxQ_G9JSVZqfqtix_c9YARlH3rtDjg5f0</string>
	<key>GCM_SENDER_ID</key>
	<string>959908824104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthExample</string>
	<key>PROJECT_ID</key>
	<string>fir-authexample-a55f8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authexample-a55f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959908824104:ios:4e0531a892678f8f22a11d</string>
</dict>
</plist>